


.companie-section{
    
    background-image: url("../../images/companie/top\ img.svg");
    background-repeat: no-repeat;
    background-size: 147px 100px;
    background-position: left top;
}
.companie__folder{
    padding-top: 140px;
    width: 932px;
    text-align: center;

}
.companie__title{
    // width: 932px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}