



.find-section{
    background-image: url("../images/find/find-back-img.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position-x:  calc(50% - 739px);
}
.find{
    display: flex;
    align-items: center;

    padding-bottom: 250px;
    background-image: url("../images/find/bottom\ img.svg");
    background-repeat: no-repeat;
    background-size: 358px 100px;
    background-position: bottom right;
}

.find__title{
    width: 620px;
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.find__line{
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background: #79C8C7;
    display: inline-block;
}
.find__text{
    width: 445px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}



@media only screen and (max-width:800px){
    .find{
        flex-direction: column;
    }
    .find__title{
        width: 337px;
        
        color: #FFF;
        text-align: center;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        
    }
    .find__line{
        display: none;
    }
    .find__text{
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}



@media only screen and (max-width:590px){
    .find{
        flex-direction: column;
    }
    .find__title{
        font-size: 40px;
        line-height: 40px;       
    }
    .find__line{
        display: none;
    }
    .find__text{
        font-size: 15px;
        line-height: 28px;
    }
}